<footer class="footer">
  <section class="footer__info">
    <span>Made by David Hernandez.</span>
  </section>
  <section class="footer__media">
    <a
      href="https://www.linkedin.com/in/david-felipe-hernandez-547109205/"
      target="_blank"
    >
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAdRJREFUOE91lG15G0EMhN9hEAYpg5iBD4IhBEKLwHcMDMFB0DCwzaBl0DIog+kjafc+bOf+eL2rHY1mpBX9E+D4My+2R7l9dyaQl2txegfQthK5X37yO6MsYYr42AcGi33HaHuNnXC7/Mib3xKfNmjOKUab41xbz1KJZtAsKm7F7SJ1MxoCJ5k1LUakI3ZmAg6Gt9Lxqy+u+2YYMvdK7xGS2Q/QCTyALiXvF6ZUjltI1JXv5EZIZldglHi3eX/ASX+WMhE3WYNxhvavmEl/wX+wXsBvEZwywd7FItbfDK8tUTHLMpfUo+BomIIZYsBcutlCB+PPVvAL8At4LQNmsNmokXJzQsQ6dLg06yLnDmsP/kD8SymcyRfN0o/EczdgAsV6ADdmGXVtfTgJRosD5mcaIA3RKnOfZWnlZpYpMdjBrByXuVrJbMIZW8xD01iXrhEuZEe2o8zkAt6WCVfEPs83Mty1RoNcNLsHq1G6NkerzDnZPVjZHQFHwdlwBnaSTrbTduCE2YHOwhGzyz10U8x1K7APcdNs3XrV/WHRerV5rR4moBr6AHx/8io8jFMTundBTsxmnPqEzNMSEO3hqwRLmm3CslquMX86yM/fiRVMW66B/wP9euEegby1RwAAAABJRU5ErkJggg=="
      />
    </a>
    <a href="https://github.com/Vsjee" target="_blank">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAAXNSR0IArs4c6QAAAgJJREFUOE9tlO1ZG0EMhN+pIE4HpgLoIKYCoIJAB0kFtiuAEkwFgQpIBzEVxFSAqWDySNq9D4f9c7cr7WikkVYIMMPq29lxbMLRbu6nl4TCpvLJlXfaakcL4FzowngveAMOk9jDnThT7JRWjQTlFWYNrEbm3VEHzAb8OIlNkJqSqY3YOIG66ZMaFMqT0J3lY7AIVsksKVXgjWGdYRJjNGQc95PIIuv3BNxMPXu9VpZfCkSX4ANEOhyKZRougAdgD7y3Kv00jrOeSzoH7auMIi6xf09ABoU6u6EHxFHma+bQYoZq74kuPmyWwHFa4LI1kUr+YHdejHTjJFNrJXhp/49Gt0PzTXpnSLZ+fgD3rQJboc0MrMqlLXbUatbPeb+htc8K9FJO3kZ9ldTtFcGsvJ4R1ydCNqBZWyezBryNlqpWk5eYv9EnITlwVip+ttJ/IfTHdtQ2VrRHq1kF3BOFFwdZX6yoiZ/7WPS5c03FvRwjltp/CJaGY1czTq+FfhnfNUG+A2+u3urKRpNezYXQFrzJBE/mf9eczwpEAbJPZWcTMkzDa85vCzabzTYKO8y3GBWLV6zd+EYpVF63fQFJx/7sTMAm5YfbUAezT2XHuQwFN6AHaoRa+pXfADam256amvEFrguTUAvBsT0BvYOw6s2YPDaTruxN64JJ3f6br/ElCdM/RlfnH+8DEPsAAAAASUVORK5CYII="
      />
    </a>
  </section>
</footer>
