<h1 class="title">{{ countrieInfo.commonName }}</h1>
<section class="country__info">
  <picture>
    <img
      src="{{ flag }}"
      alt="{{ countrieInfo.commonName }} flag"
      width="200"
      class="flag"
    />
  </picture>
  <article class="info">
    <ul class="info__list">
      <li class="list__item">Oficial name: {{ countrieInfo.officialName }}</li>
      <li class="list__item">Common name: {{ countrieInfo.commonName }}</li>
      <li class="list__item">Country code: {{ countrieInfo.countryCode }}</li>
      <li class="list__item">Region: {{ countrieInfo.region }}</li>
    </ul>
  </article>
</section>

<section class="container__borders">
  <h2 class="subtitle">Border countries:</h2>
  <article class="borders">
    <div *ngFor="let item of countrieInfo.borders">
      <app-border-countries [borderCountry]="item"></app-border-countries>
    </div>
  </article>
</section>

<section class="country__holidays">
  <h2 class="subtitle">Holidays:</h2>
  <article class="holidays">
    <div *ngFor="let item of countrieHolidaysData; let indexOfelement = index">
      <app-holidays-country-data
        [holidayData]="item"
        [index]="indexOfelement + 1"
      ></app-holidays-country-data>
    </div>
  </article>
</section>
