<h1 class="title">{{ countrieInfo.commonName }}</h1>
<section class="country__info">
  <picture>
    <img
      src="{{ flag }}"
      alt="{{ countrieInfo.commonName }} flag"
      width="200"
      class="flag"
    />
  </picture>
  <article class="info">
    <ul class="info__list">
      <li class="list__item">Oficial name: {{ countrieInfo.officialName }}</li>
      <li class="list__item">Common name: {{ countrieInfo.commonName }}</li>
      <li class="list__item">Country code: {{ countrieInfo.countryCode }}</li>
      <li class="list__item">Region: {{ countrieInfo.region }}</li>
    </ul>
  </article>
  <article class="borders"></article>
</section>

<h1 class="title">Holidays</h1>
<section class="country__holidays">
  <div *ngFor="let item of countrieInfo.borders">
    <app-border-countries [borderCountry]="item"></app-border-countries>
  </div>
</section>
